* {
    padding: 0;
    margin: 0;
}

.container {
    margin: auto;
    width: 820px;
    border: 2px solid salmon;
    overflow: auto;
}

.kiri {
    width: 150px;
    height: 450px;
    background-color: #F19C33;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 5px
}

.tengah {
    width: 500px;
    height: 450px;
    background-color: #D94B25;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px
}

.kanan{
    width: 150px;
    height: 450px;
    background-color: #F19C33;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 5px;
}

.kotak {
    width: 80px;
    height: 80px;
    background-color: #D94B25;
    color: white;
    line-height: 80px;
    text-align: center;
    margin-bottom: 5px;
    float: left;
    border-radius: 5px;
    align-items: center;
    margin-left: 10px;
}

.clear {
    clear: left;
}

.teks {
    text-align: justify;
    color: #D94B25;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}